/***** HEADER *****/
#logo {
	width: 30%;
	margin: 3% auto auto 18%;
}


/**** NAV ******/
#nav {
	width: 40%;
	text-align: center;
	margin: 0 auto 50% auto;
}

#nav p {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 0.2em;
	margin: 0 0 0 0;
	padding: 25px 0px 25px 0px;

}

a:link {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #ff0000;
}

/**** MAIN BODY *****/
body {
	background-image: url("../images/site-background.png");
	background-position: left top;
	background-size: contain;
	background-repeat: no-repeat, repeat;
	font-family: Arial, sans-serif;
}

h1 {
	width: 30%;
	font-size: 2em;
	letter-spacing: 0.2em;
	text-align: left;
	display: inline;
}

#portfolio-container {
	width: 100%;
	height: 100%;
	background-color: #f0f0f5;
	display: none;
}

#about-container {
	margin: 0 auto 0 auto;
	width: 80%;
	height: 100%;
	display: none;
}

#contact-container {
	width: 100%;
	height: 100%;
	background-color: #f0f0f5;
	display: none;
}

.content-header {
	margin: 5% 0 5% 5%;
}

.toggle-arrow {
	height: 1.5em;
	vertical-align: top;
	padding: 5px 0 0 10px;
}

.rotate-90-degrees {
	transform: rotate(90deg);
}

.ian-pic {
	border-radius: 50%;
	width: 200px;
	margin: 10px 15px 0px 10px;
	float: left;
}

/***** FOOTER *****/
.footer {
	text-align: center;
	margin: 10% 0 5% 0;
}

#breadcrumbs p {
	display: inline;
}

